{% load static %}
<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/feladat.css' %}">
    <title>Traffic restriction - 3accordingtotime</title>
  </head>
  <body>
    <main>
      <h1>3accordigtotime</h1>
      <a href="..">Vissza</a>
      <p>A korlátozások egyes településeken és időtartamuk:</p>
      <table>
        <thead>
            <tr>
                <th>Settlement</th>
                <th>Duration</th>
            </th>
        </thead>
        <tbody>
            {% for restriction in restrictions %}
                <tr>
                    <td>{{ restriction.settlement }}</td>
                    <td>{{ restriction.duration }} day(s)</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
